//- view/layout.jade
doctype html
html
  head
    link(href="/components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    block head
  body
    #root.container
      header
        nav.navbar.navbar-default.row
          .container-fluid
            ul.nav.navbar-nav
              each tab in [{link:'home', title:'Home'}, {link:'adverts', title:'Adverts'},{link:'categories/all',title:'Categories'}, {link:'adverts/add', title: 'Add'}]
                if (!(!currentUser && tab.title == 'Add'))
                  li
                    a(href='/' + tab.link)
                      =tab.title
            ul.nav.navbar-nav.navbar-right
              if (currentUser)
                li
                  a(href="/users/profile") #{currentUser.username}
                li
                  a(href="/logout") Logout
              else
                li
                  a(href="/register") Register
                li
                  a(href="/login") Login
      block content


    
  
